body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:267px;
  top:50px;
  width:54px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:371px;
  top:50px;
  width:69px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:30px;
  width:180px;
  height:61px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:61px;
}
#u5 {
  position:absolute;
  left:2px;
  top:23px;
  width:176px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:629px;
  top:50px;
  width:50px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:488px;
  top:50px;
  width:95px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:678px;
  top:52px;
  width:290px;
  height:18px;
  font-size:16px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:278px;
  top:291px;
  width:490px;
  height:180px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:180px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:278px;
  top:207px;
  width:297px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:278px;
  top:243px;
  width:490px;
  height:19px;
  font-family:'Georgia Italic', 'Georgia';
  font-style:italic;
  font-size:16px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
  visibility: visible;
}
#u18 {
  position:absolute;
  left:306px;
  top:605px;
  width:123px;
  height:18px;
  font-family:'Arial Italic', 'Arial';
  font-style:italic;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:478px;
  top:605px;
  width:123px;
  height:18px;
  font-family:'Arial Italic', 'Arial';
  font-style:italic;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:278px;
  top:507px;
  width:72px;
  height:71px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:71px;
}
#u23 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:450px;
  top:605px;
  width:20px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:596px;
  top:605px;
  width:173px;
  height:18px;
  font-family:'Arial Italic', 'Arial';
  font-style:italic;
  font-size:16px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:568px;
  top:605px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:278px;
  top:605px;
  width:20px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
/*#u32 {
  position:absolute;
  left:374px;
  top:519px;
  width:173px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
}*/
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:278px;
  top:649px;
  width:25px;
  height:25px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:316px;
  top:649px;
  width:25px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:354px;
  top:649px;
  width:25px;
  height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:388px;
  top:649px;
  width:25px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:374px;
  top:545px;
  width:221px;
  height:18px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:-1px;
  top:767px;
  width:1001px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u46 {
  position:absolute;
  left:20px;
  top:807px;
  width:219px;
  height:20px;
  font-size:16px;
  color:#000000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:677px;
  top:807px;
  width:282px;
  height:50px;
  font-size:16px;
  text-align:right;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:50px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:34px;
  top:830px;
  width:203px;
  height:50px;
  font-size:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:50px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:105px;
  width:1000px;
  height:55px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:55px;
}
#u54 {
  position:absolute;
  left:2px;
  top:20px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:30px;
  top:123px;
  width:87px;
  height:21px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-decoration:underline;
  color:#0099FF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:133px;
  top:123px;
  width:139px;
  height:21px;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:293px;
  top:123px;
  width:143px;
  height:21px;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}

.about_project #u32 {
  left:374px;
  top:519px;
}