html, body {
  margin:0px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  color: #000;
}
body > div {
  height: 100%;
}
ul, ol { list-style: none }
a {
  outline: none;
  color: #e3000e;
  box-shadow: 0 1px 0 #e3000e;
  padding: 0;
  margin: 0;
  font-weight: 400;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}
.logo {
  font-size: 26px;
  box-shadow: none;
}
.logo,
.logo:hover {
  color: #fdebda;
}
.header-menu {
  flex-direction: row;
  font-size: 16px;
  font-weight: 400;
}
.header-menu a {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0 1px 0 #ea756a;
  position: relative;
}
.header-menu a:hover,
.header-menu a.active {
  color: #ffb4ad;
  box-shadow: none;
}
.header-menu a.active:before {
  content: '';
  border: 10px solid transparent;
  border-bottom: 5px #b62416 solid;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
}
header {
  background: #e13a2a;
  border-bottom: 2px #b62416 solid;
  padding: 20px 0;
}
footer {
  position: relative;
  height: 20px;
  margin-top: -60px;
  padding: 20px 0;
  border-top: 1px #e5e5e5 solid;
}
.copiright {
  text-align: right;
  font-size: 16px;
}
.wrapper {
  width: 100%;
  min-height: 100%;
}
.container {
  margin: 0 auto;
}
.content {
  padding-top: 20px;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #000;
  margin: 0 0 5px 0;
  width: 100%;
}
h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

.img-circle {
  width: 90px;
  height: 90px;
  background: #adadad;
  border-radius: 100%;
  max-width: none;
  flex-basis: initial;
}
.description {
  padding-left: 20px;
  font-size: 16px;
}
.about-name {
  font-weight: bold;
  margin: 10px 0 2px;
}
.about-profession {
  margin-bottom: 10px;
}
.about-email {
  margin-bottom: 5px;
}