// color palette
$color-black:            #000000;
$color-white:            #ffffff;

$color-cinnabar:         #e13a2a; // header background
$color-red:              #e3000e; // link
$color-red-orange:       #ff472c; // red button
$color-cornflower-lilac: #ffb4ad; // hover, active header menu
$color-terracotta:       #ea756a; // header menu border bottom
$color-thunderbird:      #b62416; // active mark
$color-seashell-peach:   #fff4eb;
$color-silver:           #b8b8b8;

$color-mercury:          #e5e5e5; // light gray border
$color-azalea:           #f9cccf; // light pink border

$color-wewak:            #f4999f; // border button

$color-tangerine:        #e39b00; //link RSS
$color-buddha-gold:      #d39002; // hover RSS



// fonts
$font-normal: 14px;
$font-h1:     30px;
$font-h2:     24px;
$font-h3:     18px;
$font-h4:     16px;
$font-logo:   26px;