// color palette
$color-black:            #000000;
$color-white:            #ffffff;

$color-cinnabar:         #e13a2a; // header background
$color-red:              #e3000e; // link
$color-cornflower-lilac: #ffb4ad; // hover, active header menu
$color-terracotta:       #ea756a; // header menu border bottom
$color-thunderbird:      #b62416; // active mark
$color-seashell-peach:   #fff4eb;

$color-cinderella:       #fdebda; // logo

$color-mercury:          #e5e5e5; // light gray border
$color-wewak:            #f4999f; // border button



// fonts
$font-normal: 14px;
$font-h1:     30px;
$font-h2:     24px;
$font-h3:     18px;
$font-h4:     16px;
$font-logo:   26px;