<div class="row">
  <div class="col-xs-12">
    <h2>Lviv Ruby User Group</h2>
    <h3>Львівська спільнота Ruby розробників</h3>
  </div>

  <div class="col-xs-8 about">
    <p>На даному сайті розміщуються публікації, вакансії на тему Ruby від спільноти львівських Ruby-розробників. Також ми регулярно проводимо івенти.</p>
    <p>Концепцію RubyFlow створив Пітер Купер (Peter Cooper), автор Ruby Inside. Дана версія сайту є відгалуженням від проекту RubyFlow.ru, створеного Олександром Сулімом.</p>
    <p>Засновником даного відгалуження був Віталій Пушкар, наразі проект підтримує Богдан Вітер.</p>
  </div>

  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-4 img-circle"></div>

      <div class="col-xs-8 description">
        <div class="about-name">Богдан Вітер</div>
        <div class="about-profession">Ruby Developer в <a href="#">N-iX</a></div>
        <div class="about-email"><a href="#">bohdan@viter.in</a></div>
        <div class="about-phone">+38 (094) 584-58-56</div>
        <div class="about-social"></div>
      </div>

    </div>
  </div>
</div>