      <!-- Unnamed (Shape) -->
      <div id="u12" class="ax_paragraph">
        <img id="u12_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u13" class="text">
          <p><span style="color:#333333;">На даному сайті розміщуються публікації, вакансії на тему Ruby від спільноти львівських Ruby-розробників. Також ми регулярно проводимо </span><span style="text-decoration:underline;color:#0099FF;">івенти</span><span style="color:#333333;">.</span></p><p><span style="color:#333333;">&nbsp;</span></p><p><span style="color:#333333;">Концепцію RubyFlow створив Пітер Купер (Peter Cooper), автор Ruby Inside. Дана версія сайту є відгалуженням від проекту RubyFlow.ru, створеного Олександром Сулімом</span></p><p><span style="color:#333333;">&nbsp;</span></p><p><span style="color:#333333;">Засновником даного відгалуження був </span><span style="text-decoration:underline;color:#0099FF;">Віталій Пушкар</span><span style="color:#333333;">, наразі проект підтримує </span><span style="text-decoration:underline;color:#0099FF;">Богдан Вітер</span><span style="color:#333333;">.</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u14" class="ax_paragraph">
        <img id="u14_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u15" class="text">
          <p><span>Lviv Ruby User Group</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u16" class="ax_paragraph">
        <img id="u16_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u17" class="text">
          <p><span>Львівська спільнота Ruby розробників</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u18" class="ax_paragraph">
        <img id="u18_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u19" class="text">
          <p><span style="text-decoration:underline;">bohdan@viter.in</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u20" class="ax_paragraph">
        <img id="u20_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u21" class="text">
          <p><span style="text-decoration:underline;">g3dinua</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u22" class="ax_shape">
        <img id="u22_img" class="img " src="images/global/u97.png"/>
        <!-- Unnamed () -->
        <div id="u23" class="text"></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u24" class="ax_shape">
        <img id="u24_img" class="img " src="images/global/u99.png"/>
        <!-- Unnamed () -->
        <div id="u25" class="text"></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u26" class="ax_paragraph">
        <img id="u26_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u27" class="text">
          <p><span>+38 (094) 584-58-56</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u28" class="ax_shape">
        <img id="u28_img" class="img " src="images/global/u99.png"/>
        <!-- Unnamed () -->
        <div id="u29" class="text"></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u30" class="ax_shape">
        <img id="u30_img" class="img " src="images/global/u99.png"/>
        <!-- Unnamed () -->
        <div id="u31" class="text"></div>
      </div>

    <div class="about_project">
      <!-- Unnamed (Shape) -->
      <div id="u32" class="ax_paragraph">
        <img id="u32_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u33" class="text">
          <p><span>Богдан Вітер</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u34" class="ax_shape">
        <img id="u34_img" class="img " src="images/global/u109.png"/>
        <!-- Unnamed () -->
        <div id="u35" class="text"></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u36" class="ax_shape">
        <img id="u36_img" class="img " src="images/global/u109.png"/>
        <!-- Unnamed () -->
        <div id="u37" class="text"></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u38" class="ax_shape">
        <img id="u38_img" class="img " src="images/global/u109.png"/>
        <!-- Unnamed () -->
        <div id="u39" class="text"></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u40" class="ax_shape">
        <img id="u40_img" class="img " src="images/global/u109.png"/>
        <!-- Unnamed () -->
        <div id="u41" class="text"></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u42" class="ax_paragraph">
        <img id="u42_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u43" class="text">
          <p><span style="color:#000000;">Ruby Developer в </span><span style="text-decoration:underline;color:#0099FF;">N-iX</span></p>
        </div>
      </div>
    </div>
      <!-- Unnamed (anons) -->

      <!-- Unnamed (Shape) -->
      <div id="u53" class="ax_shape">
        <img id="u53_img" class="img " src="images/jobs/u1.png"/>
        <!-- Unnamed () -->
        <div id="u54" class="text"></div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u55" class="ax_paragraph">
        <img id="u55_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u56" class="text">
          <p><span style="text-decoration:underline;">LRUG №4</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u57" class="ax_paragraph">
        <img id="u57_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u58" class="text">
          <p><span>28 березня 2014</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u59" class="ax_paragraph">
        <img id="u59_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u60" class="text">
          <p><span>офіс «SoftServe»</span></p>
        </div>
      </div>