<div class="wrapper">
  <header>
    <div class="container">
      <div class="row">
        {{#link-to 'index' classNames='logo col-xs-10 col-sm-1'}}LRUG{{/link-to}}

        <div class="col-xs-12 col-sm-11">
          <span class="menu-icon" {{action 'menu'}}>
            menu
          </span>

          <nav class="header-menu hide">
            <a href="#">Івенти</a>
            {{#link-to 'jobs'}}Вакансії{{/link-to}}
            {{#link-to 'blogs'}}Блог{{/link-to}}
            {{#link-to 'about'}}Про проект{{/link-to}}
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="container content">
    {{outlet}}
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="social col-xs-12 col-sm-4"></div>
      <div class="copiright col-xs-12 col-sm-6">&copy; 2014, Lviv Ruby User Group</div>
    </div>
  </div>
</footer>