<div id="base" class="">
  <header>
      <!-- Unnamed (Shape) -->
      <div id="u0" class="ax_paragraph">
        <img id="u0_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><span style="text-decoration:underline;">Івенти</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u2" class="ax_paragraph">
        <img id="u2_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u3" class="text">
          {{#link-to 'jobs'}}Вакансії{{/link-to}}
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u4" class="ax_shape logo">
        <img id="u4_img" class="img " src="images/global/u4.png"/>
        <!-- Unnamed () -->
        <div id="u5" class="text">
          {{#link-to 'index' tagName='span'}}LRUG{{/link-to}}
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u6" class="ax_paragraph">
        <img id="u6_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u7" class="text">
          <p><span style="text-decoration:underline;">Блог</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u32" class="ax_paragraph">
        <img id="u32_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u33" class="text">
          {{#link-to 'about'}}Про проект{{/link-to}}
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u34" class="ax_paragraph">
        <img id="u34_img" class="img " src="images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u35" class="text">
          <p><span>Lviv Ruby User Group: Reloaded</span></p>
        </div>
      </div>
  </header>

  <div class="content">
    {{outlet}}
    {{about}}
  </div>


  <footer>
    <!-- Unnamed (footer) -->

    <!-- Unnamed (Horizontal Line) -->
    <div id="u86" class="ax_horizontal_line">
      <img id="u86_start" class="img " src="images/transparent.gif" alt="u86_start"/>
      <img id="u86_end" class="img " src="images/transparent.gif" alt="u86_end"/>
      <img id="u86_line" class="img " src="images/global/about_u78_line.png" alt="u86_line"/>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u87" class="ax_paragraph">
      <img id="u87_img" class="img " src="images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u88" class="text">
        <p><span>© 2014, Lviv Ruby User Group</span></p>
      </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u89" class="ax_paragraph">
      <img id="u89_img" class="img " src="images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u90" class="text">
        <p><span style="color:#000000;">Спроектовано і оформлено в </span><span style="text-decoration:underline;color:#0099FF;">Mishka</span></p>
      </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u91" class="ax_paragraph">
      <img id="u91_img" class="img " src="images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u92" class="text">
        <p><span style="text-decoration:underline;">info@rug.lviv.ua</span></p>
      </div>
    </div>
  </footer>
</div>