<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="job">
      <h1>{{title}}</h1>

      <div class="jobs-title-bottom">
        <a href="#">{{city}}</a>
        <span>{{price}} $</span>
        <span>full-time</span>
      </div>

      <div class="job-description">{{description}}</p>

      <div class="share">
        <h3 class="h3--bold">Поділитись вакансією з друзями</h3>
      </div>
    </div>
  </div>
</div>