<div class="job_page"><!-- vacancies (Dynamic Panel) -->
      <div id="u9" class="ax_dynamic_panel" data-label="vacancies">
        <div id="u9_state0" class="panel_state" data-label="State1">
          <div id="u9_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u12" class="ax_paragraph">
              <img id="u12_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u13" class="text">
                <p><span style="text-decoration:underline;">Senior Ruby Developer</span><span style="text-decoration:underline;"> в </span><span style="text-decoration:underline;">GlobalLogic</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u14" class="ax_paragraph">
              <img id="u14_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u15" class="text">
                <p><span>Київ</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u16" class="ax_paragraph">
              <img id="u16_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u17" class="text">
                <p><span>3500 $</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u18" class="ax_paragraph">
              <img id="u18_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u19" class="text">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u20" class="ax_paragraph">
              <img id="u20_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u21" class="text">
                <p><span>full-time</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u22" class="ax_paragraph">
              <img id="u22_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u23" class="text">
                <p><span style="text-decoration:underline;">Senior Ruby Developer</span><span style="text-decoration:underline;"> в </span><span style="text-decoration:underline;">GlobalLogic</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u24" class="ax_paragraph">
              <img id="u24_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u25" class="text">
                <p><span>Київ</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u26" class="ax_paragraph">
              <img id="u26_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u27" class="text">
                <p><span>3500 $</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u28" class="ax_paragraph">
              <img id="u28_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u29" class="text">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u30" class="ax_paragraph">
              <img id="u30_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u31" class="text">
                <p><span>full-time</span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u32" class="ax_horizontal_line">
              <img id="u32_start" class="img " src="images/transparent.gif" alt="u32_start"/>
              <img id="u32_end" class="img " src="images/transparent.gif" alt="u32_end"/>
              <img id="u32_line" class="img " src="images/jobs/u32_line.png" alt="u32_line"/>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u33" class="ax_paragraph">
              <img id="u33_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u34" class="text">
                <p><span style="text-decoration:underline;">Senior Ruby Developer</span><span style="text-decoration:underline;"> в </span><span style="text-decoration:underline;">GlobalLogic</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u35" class="ax_paragraph">
              <img id="u35_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u36" class="text">
                <p><span>Київ</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u37" class="ax_paragraph">
              <img id="u37_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u38" class="text">
                <p><span>3500 $</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u39" class="ax_paragraph">
              <img id="u39_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u40" class="text">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u41" class="ax_paragraph">
              <img id="u41_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u42" class="text">
                <p><span>full-time</span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u43" class="ax_horizontal_line">
              <img id="u43_start" class="img " src="images/transparent.gif" alt="u43_start"/>
              <img id="u43_end" class="img " src="images/transparent.gif" alt="u43_end"/>
              <img id="u43_line" class="img " src="images/jobs/u32_line.png" alt="u43_line"/>
            </div>
          </div>
        </div>
      </div>

      <!-- vacancies_city (Dynamic Panel) -->
      <div id="u44" class="ax_dynamic_panel" data-label="vacancies_city">
        <div id="u44_state0" class="panel_state" data-label="State1">
          <div id="u44_state0_content" class="panel_state_content">

            <!-- Unnamed (Shape) -->
            <div id="u45" class="ax_shape">
              <img id="u45_img" class="img " src="images/jobs/u10.png"/>
              <!-- Unnamed () -->
              <div id="u46" class="text"></div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u47" class="ax_paragraph">
              <img id="u47_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u48" class="text">
                <p><span style="text-decoration:underline;">Senior Ruby Developer</span><span style="text-decoration:underline;"> в </span><span style="text-decoration:underline;">GlobalLogic</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u49" class="ax_paragraph">
              <img id="u49_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u50" class="text">
                <p><span>3500 $</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u51" class="ax_paragraph">
              <img id="u51_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u52" class="text">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u53" class="ax_paragraph">
              <img id="u53_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u54" class="text">
                <p><span>full-time</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u55" class="ax_paragraph">
              <img id="u55_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u56" class="text">
                <p><span style="text-decoration:underline;">Senior Ruby Developer</span><span style="text-decoration:underline;"> в </span><span style="text-decoration:underline;">GlobalLogic</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u57" class="ax_paragraph">
              <img id="u57_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u58" class="text">
                <p><span>3500 $</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u59" class="ax_paragraph">
              <img id="u59_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u60" class="text">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u61" class="ax_paragraph">
              <img id="u61_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u62" class="text">
                <p><span>full-time</span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u63" class="ax_horizontal_line">
              <img id="u63_start" class="img " src="images/transparent.gif" alt="u63_start"/>
              <img id="u63_end" class="img " src="images/transparent.gif" alt="u63_end"/>
              <img id="u63_line" class="img " src="images/jobs/u32_line.png" alt="u63_line"/>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u64" class="ax_paragraph">
              <img id="u64_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u65" class="text">
                <p><span style="text-decoration:underline;">Senior Ruby Developer</span><span style="text-decoration:underline;"> в </span><span style="text-decoration:underline;">GlobalLogic</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u66" class="ax_paragraph">
              <img id="u66_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u67" class="text">
                <p><span>3500 $</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u68" class="ax_paragraph">
              <img id="u68_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u69" class="text">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u70" class="ax_paragraph">
              <img id="u70_img" class="img " src="images/transparent.gif"/>
              <!-- Unnamed () -->
              <div id="u71" class="text">
                <p><span>full-time</span></p>
              </div>
            </div>

            <!-- Unnamed (Horizontal Line) -->
            <div id="u72" class="ax_horizontal_line">
              <img id="u72_start" class="img " src="images/transparent.gif" alt="u72_start"/>
              <img id="u72_end" class="img " src="images/transparent.gif" alt="u72_end"/>
              <img id="u72_line" class="img " src="images/jobs/u32_line.png" alt="u72_line"/>
            </div>
          </div>
        </div>
      </div>
    </div>